*{
	box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


body{
	background-color: #98e3db;

}
img{
	border: 5px solid #d2bc5b;
}
li{
	color: bold black;
}